
.intro {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr, 0.2fr;
  grid-template-areas: 'item1 item1'
  'item2 item3';
}

form {
  text-align: center;
}

.item1 {
  grid-area: item1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.x-axis-values, .y-axis-values {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
}

.submit-btn {
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: #fd426b;
  color: #fff;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #eb1543;
}

.item2 {
  grid-area: item2;
  width: 0.8fr;
}

.item2.chart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item3 {
  grid-area: item3;
}

.chart-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
}

.chart-buttons button {
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.chart-buttons button:hover {
  background-color: #adadad;
}

button.reset {
  background-color: #ff0000;
  color: #fff;
}

button.reset:hover {
  background-color: #d62828;
}